.product-details-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 20px;
  }
  
  .product-image img {
    max-width: 300px;
    max-height: 300px;
  }
  
  .product-info {
    flex: 1;
    padding: 20px;
  }
  
  .product-info h2 {
    font-size: 24px;
    margin: 0;
  }
  
  .product-info p {
    margin: 10px 0;
  }
  
  .add-to-cart-button,
  .added-to-cart-button {
    padding: 10px 20px;
    background-color: #11a69c;
    color: #fff;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    border-radius: 4px;
  }
  
  .added-to-cart-button {
    background-color: #ccc;
    cursor: not-allowed;
  }
  .cart-actions{
    margin-bottom: 100px;
  }
  .addtocattable-container{
    margin-right: 50px;
    margin-left: 50px;
  }
.cart-actions {
  display: flex;
  justify-content: flex-end; /* Move buttons to the right */
margin-top: 20px; /* Add some top margin for spacing */
}

.cart-actions button {
  margin-left: 80px; 
  padding: 10px 20px;/* Add some spacing between the buttons */
}
